@font-face {
  font-family: "iconfont"; /* Project id 3347289 */
  src: url('iconfont.eot?t=1663745225894'); /* IE9 */
  src: url('iconfont.eot?t=1663745225894#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1663745225894') format('woff2'),
       url('iconfont.woff?t=1663745225894') format('woff'),
       url('iconfont.ttf?t=1663745225894') format('truetype'),
       url('iconfont.svg?t=1663745225894#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu2:before {
  content: "\e602";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-aixin:before {
  content: "\e601";
}

.icon-xiangzuo:before {
  content: "\e729";
}

.icon-xiangyou:before {
  content: "\e728";
}

.icon-huo:before {
  content: "\e606";
}

.icon-rise:before {
  content: "\e618";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-wujiaoxing-:before {
  content: "\e647";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-tongzhi:before {
  content: "\e60a";
}

.icon-31gouwuche:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e607";
}

