// 常用字体大小
$font_size_small: 20px;
$font_size_medium: 30px;
$font_size_large: 36px;

// 背景颜色
$background_color_theme1: #d43c33;
$background_color_theme2: rgba(34,213,156,1);
$background_color_theme3: #333;

// 字体颜色规范(激活)
$font-active-color-theme1: #d43c33; //字体主题颜色默认(网易红)
$font-active-color-theme2: rgba(34, 213, 156, 1); //字体主题颜色1(QQ绿)
$font-active-color-theme3: #ffcc33; //字体主题颜色2(夜间模式)